body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2D2D2D;
}
header {
  border-bottom: solid 1px lightgrey;
  height: 12vh;
}

header h1 {
  color: #2D2D2D;
  text-align: center;
  margin: 20px 0 20px 0;
}

header nav {
  float: right;
  margin-top: 4.5vh;
  margin-right: 50px;
  /*margin-bottom: 20px;*/
}

header a {
  margin-right: 30px;
  padding: 3px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2D2D2D;
  font-size: .9rem;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

header a:hover {
  color: #aa88e0;
}

.products .empty {
  height: 44vh;
}

.products .empty .emptycell {
  height: 100%;
  text-align: center;

  background: -moz-radial-gradient(center, ellipse cover, #62442f 0%, #a36f44  50%, #cca87a 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #62442f 0%,#a36f44  50%,#cca87a 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #62442f 0%,#a36f44  50%,#cca87a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.products .empty .emptycell h2{
  padding-top: 15vh;
  margin-top: 0;
  font-size: 1.9rem;
  color: #cca87a;
}
.products .empty .emptycell i{
  font-size: 2.2rem;
  color: #cca87a;
  padding: 0 1vw;
  transition: all 0.4s ease-in-out;
}
.products .empty .emptycell i:hover{
  color: #3f2d26;
  cursor: pointer;
}
.products .mocha {
  height: 44vh;
  overflow: hidden;
}

.products .mocha .mochaimg {
  width: 100%;
  height: 100%;
  background-image: url("mochaimg.png");
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.products .mocha:hover .mochaimg,
.products .mocha:focus .mochaimg {
  transform: scale(1.1);

}

.mochaimg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.products .mocha:hover .mochaimg:before,
.products .mocha:focus .mochaimg:before {
  display: block;
}
.products .mocha .mochaimg span {
  color: white; /* Good thing we set a fallback color! */
  font-size: 1rem;
  display: none;
  text-align: center;
  margin: auto;
  position: absolute;
  font-weight: 600;
  top: 22vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.products .mocha:hover span,
.products .mocha:focus span {
  display: block;

}
/* CSS for Cocoa cell*/

.products .cocoa {
  height: 44vh;
  overflow: hidden;
}

.products .cocoa .cocoaimg {
  width: 100%;
  height: 100%;
  background-image: url("cocoaimg.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.products .cocoa:hover .cocoaimg,
.products .cocoa:focus .cocoaimg {
  transform: scale(1.1);

}

.cocoaimg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.products .cocoa:hover .cocoaimg:before,
.products .cocoa:focus .cocoaimg:before {
  display: block;
}
.products .cocoa .cocoaimg span {
  color: white; /* Good thing we set a fallback color! */
  font-size: 1rem;
  display: none;
  text-align: center;
  margin: auto;
  position: absolute;
  font-weight: 600;
  top: 22vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.products .cocoa:hover span,
.products .cocoa:focus span {
  display: block;
}
 /* CSS for Lightie cell */

 .products .lightie {
   height: 44vh;
   overflow: hidden;
 }

 .products .lightie .lightieimg {
   width: 100%;
   height: 100%;
   background-image: url("lightieimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
 }

 .products .lightie:hover .lightieimg,
 .products .lightie:focus .lightieimg {
   transform: scale(1.1);

 }

 .lightieimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .lightie:hover .lightieimg:before,
 .products .lightie:focus .lightieimg:before {
   display: block;
 }
 .products .lightie .lightieimg span {
   color: white; /* Good thing we set a fallback color! */
   font-size: 1rem;
   display: none;
   text-align: center;
   margin: auto;
   position: absolute;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .lightie:hover span,
 .products .lightie:focus span {
   display: block;
 }

 /* CSS for Dark cell */

 .products .dark {
   height: 44vh;
   overflow: hidden;
 }

 .products .dark .darkimg {
   width: 100%;
   height: 100%;
   background-image: url("darkimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
 }

 .products .dark:hover .darkimg,
 .products .dark:focus .darkimg {
   transform: scale(1.1);

 }

 .darkimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .dark:hover .darkimg:before,
 .products .dark:focus .darkimg:before {
   display: block;
 }
 .products .dark .darkimg span {
   color: white; /* Good thing we set a fallback color! */
   font-size: 1rem;
   display: none;
   text-align: center;
   margin: auto;
   position: absolute;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .dark:hover span,
 .products .dark:focus span {
   display: block;
 }

 /* CSS for caramel cell */

 .products .caramel {
   height: 44vh;
   overflow: hidden;
 }

 .products .caramel .caramelimg {
   width: 100%;
   height: 100%;
   background-image: url("caramelimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.4s ease-in-out;
 }

 .products .caramel:hover .caramelimg,
 .products .caramel:focus .caramelimg {
   transform: scale(1.1);

 }

 .caramelimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .caramel:hover .caramelimg:before,
 .products .caramel:focus .caramelimg:before {
   display: block;
 }
 .products .caramel .caramelimg span {
   color: white; /* Good thing we set a fallback color! */
   font-size: 1rem;
   display: none;
   text-align: center;
   margin: auto;
   position: absolute;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .caramel:hover span,
 .products .caramel:focus span {
   display: block;
 }

 #contact {
   background-image: url("contactbgd.png");
   background-position: center;
   background-repeat: repeat;
   padding: 5vh 0;
 }
 #contact .get {
   text-align: center;
 }
 #contact h1 {
   margin: 0;
   padding-top: 13vh;
   padding-bottom: 2vh;
   text-align: center;
   font-size: 2.7rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 900;
   color: #2D2D2D;
   letter-spacing: -0.05rem;
 }

 #contact hr{
  text-align: center;
  width: 10vw;
	border-top: 3px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
#contact .getintouch {
  padding: 2vh 29vw;
  font-size: .9rem;
  color: #6e7f80;
}

#contact .block {
  margin: 5vh 10vw;
}

#contact .block .details {
  padding: 10px;
  border-radius: 3px;
  width: 30vw;
  margin: 2vh 0;
  color: #6e7f80;
  border: none;
}
#contact .block #message {
  color: #6e7f80;
  padding: 10px;
  height: 20vh;
  width: 30vw;
  border-radius: 3px;
  margin: 2vh 0;
  border: none;
}
#contact .block #submit {
  padding: 3.2vh 3vw;
  text-align: center;
  border-radius: 3px;
  margin: 5vh 0;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: #2D2D2D;
  color: white;
  border-radius: 4px;
  border: none;
  transition: all 200ms linear;
}
#contact .block #submit:hover {
  cursor: pointer;
  color: #2D2D2D;
  background: #aa88e0;
  transform: scale(1.1);
  font-weight: 600;
}

#contact .block p {
  padding-bottom: 7vh;
  color: #2D2D2D;
}
#contact .block #contacth41 {
  font-weight: 400;
  color: #2D2D2D;
}
#contact .block #contactp1 {
  font-size: .9rem;
  color: #6e7f80;
}

#footer {
  height: 40vh;
  background-color: #2D2D2D;
  padding-top: 10vh;
  color: #D1C0C0;
  font-weight: 300;
}
#footer .block {
  margin: 1vh 10vw;
}
#footer .copyright {
  padding-top: 10vh;
  font-size: 0.8rem;
  list-style: none;
}
  #footer h5 {
font-weight: 300;
font-size: 0.8rem;
margin: 0.7vh 0;
}
#footer ul {
  padding-top: 10vh;
  margin-top: 0;
  padding-left: 0;
}
#footer li {
font-size: 0.8rem;
margin: 1vh 0;
font-weight: 300;
list-style: none;
transition: all 0.6s ease-in-out;
}
#footer li:hover {
  color: white;
  cursor: pointer;
}
#footer img {
  width: 100%;
  padding-top: 5vh;
}
#footer .social {
  padding-top: 10vh;
}
#footer .social i{
  font-size: 2.2rem;
  padding: 0.5vh 1vw;
  transition: all 0.4s ease-in-out;
}
#footer .social i:hover{
  color: white;
  cursor: pointer;
}
