body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2D2D2D;
}
header {
  -webkit-box-shadow: inset 0px 0px 40px 9px rgba(219,215,219,0.07);
  -moz-box-shadow: inset 0px 0px 40px 9px rgba(219,215,219,0.07);
  box-shadow: inset 0px 0px 40px 9px rgba(219,215,219,0.07);
  background-color: white;
  border-bottom: solid 1px lightgrey;
  height: 14vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: #2D2D2D;
  text-align: center;
  margin: 20px 0 20px 0;
}

header nav {
  float: right;
  margin-top: 5.5vh;
  margin-right: 50px;
  /*margin-bottom: 20px;*/
}

header nav a #cart {
  font-size: 1.2rem;
}

header a {
  margin-right: 30px;
  padding: 3px 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2D2D2D;
  font-size: .9rem;
  font-weight: 600;
  transition: all 0.6s ease-in-out;
}

header a:hover {
  color: #aa88e0;
  text-decoration: none;
}
.products {
  padding-top: 14vh;
}
.products .row {
  margin-left: 0;
  margin-right: 0;
}
.products .empty {
  height: 44vh;
  padding-left: 0;
  padding-right: 0;
}

.products .mocha {
  height: 44vh;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.products .mocha .mochaimg {
  width: 100%;
  height: 100%;
  background-image: url("mochaimg.png");
  background-position: center;
  background-size: cover;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.products .mocha:hover .mochaimg,
.products .mocha:focus .mochaimg {
  transform: scale(1.1);

}

.mochaimg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.products .mocha:hover .mochaimg:before,
.products .mocha:focus .mochaimg:before {
  display: block;
}
.products .mocha .mochaimg span {
  color: #2D2D2D; /* Good thing we set a fallback color! */
  text-transform: uppercase;
  font-size: 1.2rem;
  display: none;
  text-align: center;
  margin: auto;
  position: relative;
  font-weight: 600;
  top: 22vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.products .mocha:hover span,
.products .mocha:focus span {
  display: block;

}
/* CSS for Cocoa cell*/

.products .cocoa {
  height: 44vh;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.products .cocoa .cocoaimg {
  width: 100%;
  height: 100%;
  background-image: url("cocoaimg.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.products .cocoa:hover .cocoaimg,
.products .cocoa:focus .cocoaimg {
  transform: scale(1.1);

}

.cocoaimg::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.products .cocoa:hover .cocoaimg:before,
.products .cocoa:focus .cocoaimg:before {
  display: block;
}
.products .cocoa .cocoaimg span {
  color: #2D2D2D; /* Good thing we set a fallback color! */
  text-transform: uppercase;
  font-size: 1.2rem;
  display: none;
  text-align: center;
  margin: auto;
  position: relative;
  font-weight: 600;
  top: 22vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.products .cocoa:hover span,
.products .cocoa:focus span {
  display: block;
}
 /* CSS for Lightie cell */

 .products .lightie {
   height: 44vh;
   overflow: hidden;
   padding-left: 0;
   padding-right: 0;
 }

 .products .lightie .lightieimg {
   width: 100%;
   height: 100%;
   background-image: url("lightieimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.6s ease-in-out;
 }

 .products .lightie:hover .lightieimg,
 .products .lightie:focus .lightieimg {
   transform: scale(1.1);

 }

 .lightieimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: relative;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .lightie:hover .lightieimg:before,
 .products .lightie:focus .lightieimg:before {
   display: block;
 }
 .products .lightie .lightieimg span {
   color: #2D2D2D; /* Good thing we set a fallback color! */
   text-transform: uppercase;
   font-size: 1.2rem;
   display: none;
   text-align: center;
   margin: auto;
   position: relative;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .lightie:hover span,
 .products .lightie:focus span {
   display: block;
 }

 /* CSS for Dark cell */

 .products .dark {
   height: 44vh;
   overflow: hidden;
   padding-left: 0;
   padding-right: 0;
 }

 .products .dark .darkimg {
   width: 100%;
   height: 100%;
   background-image: url("darkimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.6s ease-in-out;
 }

 .products .dark:hover .darkimg,
 .products .dark:focus .darkimg {
   transform: scale(1.1);

 }

 .darkimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .dark:hover .darkimg:before,
 .products .dark:focus .darkimg:before {
   display: block;
 }
 .products .dark .darkimg span {
   color: #2D2D2D; /* Good thing we set a fallback color! */
   text-transform: uppercase;
   font-size: 1.2rem;
   display: none;
   text-align: center;
   margin: auto;
   position: absolute;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .dark:hover span,
 .products .dark:focus span {
   display: block;
 }

 /* CSS for caramel cell */

 .products .caramel {
   height: 44vh;
   overflow: hidden;
   padding-left: 0;
   padding-right: 0;
 }

 .products .caramel .caramelimg {
   width: 100%;
   height: 100%;
   background-image: url("caramelimg.png");
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: all 0.6s ease-in-out;
 }

 .products .caramel:hover .caramelimg,
 .products .caramel:focus .caramelimg {
   transform: scale(1.1);

 }

 .caramelimg::before {
   content: "";
   display: none;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.75);
 }

 .products .caramel:hover .caramelimg:before,
 .products .caramel:focus .caramelimg:before {
   display: block;
 }
 .products .caramel .caramelimg span {
   color: #2D2D2D; /* Good thing we set a fallback color! */
   text-transform: uppercase;
   font-size: 1.2rem;
   display: none;
   text-align: center;
   margin: auto;
   position: absolute;
   font-weight: 600;
   top: 22vh;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .products .caramel:hover span,
 .products .caramel:focus span {
   display: block;
 }

 #contact {
   background-image: url("contactbgd.png");
   background-position: center;
   background-repeat: repeat;
   padding: 5vh 0;
 }
 #contact .get {
   text-align: center;
 }
 #contact h1 {
   margin: 0;
   padding-top: 13vh;
   padding-bottom: 2vh;
   text-align: center;
   font-size: 2.7rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 900;
   color: #2D2D2D;
   letter-spacing: -0.05rem;
 }

 #contact hr{
  text-align: center;
  width: 10vw;
	border-top: 3px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
#contact .getintouch {
  padding: 2vh 29vw;
  font-size: .9rem;
  color: #6e7f80;
}

#contact .block {
  margin: 5vh 10vw;
}

#contact .block .details {
  padding: 10px;
  border-radius: 3px;
  width: 30vw;
  margin: 2vh 0;
  color: #6e7f80;
  border: none;
}
#contact .block #message {
  color: #6e7f80;
  padding: 10px;
  height: 20vh;
  width: 30vw;
  border-radius: 3px;
  margin: 2vh 0;
  border: none;
}
#contact .block #submit {
  padding: 3.2vh 3vw;
  text-align: center;
  border-radius: 3px;
  margin: 5vh 0;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: #2D2D2D;
  color: white;
  border-radius: 4px;
  border: none;
  transition: all 200ms linear;
}
#contact .block #submit:hover {
  cursor: pointer;
  color: #2D2D2D;
  background: #aa88e0;
  transform: scale(1.1);
  font-weight: 600;
}

#contact .block p {
  padding-bottom: 7vh;
  color: #2D2D2D;
}
#contact .block #contacth41 {
  font-weight: 400;
  color: #2D2D2D;
}
#contact .block #contactp1 {
  font-size: .9rem;
  color: #6e7f80;
}

#footer {
  background-color: #fdfbfb;
  padding-top: 10vh;
  color: #6e7f80;
  font-weight: 300;
}
#footer .align-center {
  text-align: center;
  padding: 1.8rem 0 4rem 0;
}
#footer .align-center .btt {
color: #2D2D2D;
font-size: .7rem;
border-radius: 50%;
border: 2px solid #2D2D2D;
padding: .7rem;
transition: all 0.4s ease-in-out;
}

#footer .align-center .btt:hover {
  color: #fdfbfb;
  background: #2D2D2D;
  border: 2px solid #2D2D2D;
  cursor: pointer;
}
#footer .align-center .socmed {
  padding: 1vh .5vw;
  font-size: 1.2rem;
  color: #2D2D2D;
  transition: all 0.6s ease-in-out;
}
#footer .align-center .socmed:hover {
  cursor: pointer;
}
#footer .align-center .fa-tumblr-square:hover {
  color: #35465c;
}
#footer .align-center .fa-instagram:hover {
  color: #e4405f;
}

#footer .align-center #rights {
  font-weight: 400;
  color: #6e7f80;
  font-size: 0.8rem;
}
